/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
// Variables for "Old Money" and "Dark Academia" theme
$primary-bg: #2F4F4F; // Deep forest green
$secondary-bg: #12124d; // Navy blue
$accent: #800020; // Burgundy
$highlight: #D4AF37; // Muted gold
$text-light: #F5F5DC; // Cream
$text-dark: #282727; // Dark brown
$font-family: 'Garamond', serif; // Classic serif font (Can change)

/*---------------------------------------/*
 # GENERIC - BOOTSTRAP
/*---------------------------------------*/
* {
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.dropdown-menu.show{
    margin: 0.5rem 1rem 0 0;
}

.navbar-toggler{
    &:active, &:focus{
        outline: none;
        box-shadow: none;
    }
}

.modal{
    &-content{
        background-color: $primary-bg;
        border: 2px solid $accent;
        border-radius: .5rem;
        color: $text-light;
    }

    &-header{
        background-color: $primary-bg;
        border-bottom: 2px solid $highlight;

        .modal-title{
            color: $highlight;
            font-weight: bold;
        }

        .btn-close{
            filter: invert(1);
            opacity: 0.7;

            &:hover{
                opacity: 1;
            }
        }
    }

    &-body{
        padding: 2rem;

        .text-muted{
            color: lighten($text-dark, 30%) !important;
        }

        .form-label{
            color: $text-light;
            margin-bottom: .5rem;
        }

        .form-select{
            background-color: darken($primary-bg, 5%);
            border: 1px solid $highlight;
            color: $text-light;
            padding: .5rem;
            border-radius: .25rem;

            &::placeholder{
                color: $text-light
            }

            &:focus {
                background-color: $primary-bg;
                color: $text-light;
                border-color: $accent;
                box-shadow: 0 0 5px lighten($accent, 20%);
            }

            option {
                background-color: $primary-bg;
                color: $text-light;

                &:hover {
                    background-color: darken($accent, 10%);
                    color: $text-light;
                }

                &:focus {
                    background-color: $accent;
                    color: $text-light;
                }
            }
        }

        .form-check{
            margin-bottom: .75rem;

            &-input{
                background-color: darken($primary-bg, 5%);
                border: 1px solid $highlight;
                color: $text-light;

                &:checked{
                    background-color: $accent;
                    border-color: $accent;
                }

                &:focus {
                    background-color: $primary-bg;
                    color: $text-light;
                    border-color: $accent;
                    box-shadow: 0 0 0 .2rem lighten($accent, 20%);
                }
            }

            &-label{
                color: $text-light;
                margin-left: .5rem;
                cursor: pointer;
            }
        }
    }

    &-footer{
        background-color: $primary-bg;
        border-top: 2px solid $highlight;
        padding: 1rem 2rem;

        .btn-secondary{
            background-color: darken($primary-bg, 5%);
            border: 1px solid $highlight;
            color: $text-light;
            padding: .5rem 1rem;
            border-radius: .25rem;

            &:hover {
                background-color: $accent;
                color: $text-light;
                text-decoration: none;
            }
        }

        .c-btn{
            background-color: $accent;
            color: $text-light;
            border: none;

            &:hover {
                background-color: darken($accent, 10%);
                color: $text-light;
                text-decoration: none;
            }
        }
    }
}
/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
.container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1rem;
}
/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-nav {
    color: $text-light;
    background-color: $primary-bg;

    &__brand {
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            text-decoration: none;
            color: $text-dark;
        }
    }

    &__item {
        margin-right: 1rem;
        font-size: 1.1rem;

        &:last-child {
            margin-right: 0;
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__link {
        color: $text-light;
        text-decoration: none;

        &--active {
            font-weight: bold;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__toggler {
        border: none;
        background: transparent;
        padding: 0;
        margin-left: .5rem;

        &--btn {
            font-size: 1.5rem;
            color: $text-light;
        }
    }

    &__logo {
        width: 1.9rem;
        height: 1.9rem;
        margin-right: 0.5rem;

        &:hover {
            opacity: 0.8;
        }
    }

    &__btn {
        color: $text-light;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.25rem;
        font-size: 1rem;

        &:hover {
            background-color: darken($accent, 10%);
            color: $text-light;
            text-decoration: none;
        }
    }

    &__search {
        background-color: $primary-bg;
        border: none;
        color: $text-light;

        &::placeholder{
            color: $text-light
        }

        &:focus {
            background-color: $accent;
            color: $text-light;
            outline: none;
            box-shadow: 0 0 5px lighten($accent, 20%);
        }
    }
}

.c-hero {
    background-image: url('../img/hero-bg.jpg');
    background-size: cover;
    padding: 4rem 2rem;
    text-align: center;

    &__title {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    &__subtitle {
        font-size: 1.25rem;
        color: #6c757d;
    }

    &__btn {
        margin-top: 2rem;
        background-color: #282727;
        color: #fff;
        padding: 0.5rem 1rem;

        &:hover {
            background-color: #1c1b1b;
            color: #fff;
            text-decoration: none;
        }
    }
}

.c-btn {
    &--primary {
        background-color: #007bff;
        color: #fff;
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 0.25rem;
        text-decoration: none;
        font-size: 1rem;

        &:hover {
            background-color: #0056b3;
            color: #fff;
            text-decoration: none;
        }
    }
}

.c-dropdown {
    &__btn {
        color: $text-light;
        border: none;
        padding: 0.5rem 1rem;

        &:hover {
            color: $text-light;
            background-color: darken($accent, 10%);
        }
    }

    &__menu {
        background-color: darken($accent, 15%);
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    &__header {
        font-weight: bold;
        color: $text-light;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    &__info {
        width: 100%;
        padding: 0.5rem;
        background-color: darken($accent, 10%);
        border: none;
        color: $text-light;
        
        &::placeholder{
            color: $text-light
        }
        
        &:focus {
            background-color: $accent;
            color: $text-light;
            outline: none;
            box-shadow: 0 0 5px lighten($accent, 20%);
        }
    }

    &__icon {
        font-size: 1.5rem;
    }

    &__item {
        color: $text-light;

        &:hover {
            background-color: darken($accent, 10%);
            color: $text-light;
        }
    }
}

.c-cta {
    background-color: $secondary-bg;
    padding: 3rem 2rem;
    border-radius: 0.5rem;
    margin-bottom: 3rem;

    &__title {
        color: $highlight;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    &__text {
        color: $text-light;
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }

    &__actions {
        margin-bottom: 2rem;
        .c-cta__btn {
            margin: 0 0.5rem;
        }
    }

    &__verse {
        color: $accent;
        font-style: italic;
        font-size: 1rem;
    }

    &__btn {
        background-color: $accent;
        color: $text-light;
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 0.25rem;
        font-size: 1rem;

        &:hover {
            background-color: darken($accent, 10%);
            color: $text-light;
            text-decoration: none;
        }
    }
}

.c-impact {
    background-color: $primary-bg;

    &__title {
        color: $highlight;
        font-size: 2rem;
        margin-bottom: 1rem;
        padding-top: 1rem;
        font-weight: bold;
    }

    &__intro {
        color: $text-light;
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }

    &__quote {
        color: $text-light;
        font-style: italic;
        margin-bottom: 1rem;
    }

    &__cite {
        color: $text-dark;
        font-weight: bold;
    }

    &__card{
        background-color: darken($accent, 5%);
        padding: 1.5rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 2rem;
        margin-left: 2rem;
    }
}

.c-card{
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &__title {
        font-size: 1.25rem;
        margin-bottom: 1rem;
        color: $text-light;
        font-weight: bold;
    }

    &__text {
        font-size: .9rem;
        line-height: 1.5;
        color: $text-dark;
    }
}

.c-footer {
    background-color: $primary-bg;
    color: $text-light;
    padding: 2rem 0;
    margin-top: 3rem;
    &__text {
        margin: 0;
        font-size: 0.9rem;
    }
    &__links {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        li a {
            color: $highlight;
            text-decoration: none;
            &:hover {
                color: $accent;
            }
        }
    }
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
.u-hidden {
    display: none !important;
}
