/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
/*---------------------------------------/*
 # GENERIC - BOOTSTRAP
/*---------------------------------------*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Garamond", serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.dropdown-menu.show {
  margin: 0.5rem 1rem 0 0;
}

.navbar-toggler:active, .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.modal-content {
  background-color: #2F4F4F;
  border: 2px solid #800020;
  border-radius: 0.5rem;
  color: #F5F5DC;
}
.modal-header {
  background-color: #2F4F4F;
  border-bottom: 2px solid #D4AF37;
}
.modal-header .modal-title {
  color: #D4AF37;
  font-weight: bold;
}
.modal-header .btn-close {
  filter: invert(1);
  opacity: 0.7;
}
.modal-header .btn-close:hover {
  opacity: 1;
}
.modal-body {
  padding: 2rem;
}
.modal-body .text-muted {
  color: rgb(117.4683544304, 114.5316455696, 114.5316455696) !important;
}
.modal-body .form-label {
  color: #F5F5DC;
  margin-bottom: 0.5rem;
}
.modal-body .form-select {
  background-color: rgb(37.4880952381, 63.0119047619, 63.0119047619);
  border: 1px solid #D4AF37;
  color: #F5F5DC;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
.modal-body .form-select::-moz-placeholder {
  color: #F5F5DC;
}
.modal-body .form-select::placeholder {
  color: #F5F5DC;
}
.modal-body .form-select:focus {
  background-color: #2F4F4F;
  color: #F5F5DC;
  border-color: #800020;
  box-shadow: 0 0 5px rgb(230, 0, 57.5);
}
.modal-body .form-select option {
  background-color: #2F4F4F;
  color: #F5F5DC;
}
.modal-body .form-select option:hover {
  background-color: rgb(77, 0, 19.25);
  color: #F5F5DC;
}
.modal-body .form-select option:focus {
  background-color: #800020;
  color: #F5F5DC;
}
.modal-body .form-check {
  margin-bottom: 0.75rem;
}
.modal-body .form-check-input {
  background-color: rgb(37.4880952381, 63.0119047619, 63.0119047619);
  border: 1px solid #D4AF37;
  color: #F5F5DC;
}
.modal-body .form-check-input:checked {
  background-color: #800020;
  border-color: #800020;
}
.modal-body .form-check-input:focus {
  background-color: #2F4F4F;
  color: #F5F5DC;
  border-color: #800020;
  box-shadow: 0 0 0 0.2rem rgb(230, 0, 57.5);
}
.modal-body .form-check-label {
  color: #F5F5DC;
  margin-left: 0.5rem;
  cursor: pointer;
}
.modal-footer {
  background-color: #2F4F4F;
  border-top: 2px solid #D4AF37;
  padding: 1rem 2rem;
}
.modal-footer .btn-secondary {
  background-color: rgb(37.4880952381, 63.0119047619, 63.0119047619);
  border: 1px solid #D4AF37;
  color: #F5F5DC;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
.modal-footer .btn-secondary:hover {
  background-color: #800020;
  color: #F5F5DC;
  text-decoration: none;
}
.modal-footer .c-btn {
  background-color: #800020;
  color: #F5F5DC;
  border: none;
}
.modal-footer .c-btn:hover {
  background-color: rgb(77, 0, 19.25);
  color: #F5F5DC;
  text-decoration: none;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
}

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-nav {
  color: #F5F5DC;
  background-color: #2F4F4F;
}
.c-nav__brand {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}
.c-nav__brand:hover {
  text-decoration: none;
  color: #282727;
}
.c-nav__item {
  margin-right: 1rem;
  font-size: 1.1rem;
}
.c-nav__item:last-child {
  margin-right: 0;
}
.c-nav__item a {
  text-decoration: none;
}
.c-nav__item a:hover {
  text-decoration: underline;
}
.c-nav__link {
  color: #F5F5DC;
  text-decoration: none;
}
.c-nav__link--active {
  font-weight: bold;
}
.c-nav__link:hover {
  text-decoration: underline;
}
.c-nav__toggler {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
}
.c-nav__toggler--btn {
  font-size: 1.5rem;
  color: #F5F5DC;
}
.c-nav__logo {
  width: 1.9rem;
  height: 1.9rem;
  margin-right: 0.5rem;
}
.c-nav__logo:hover {
  opacity: 0.8;
}
.c-nav__btn {
  color: #F5F5DC;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
}
.c-nav__btn:hover {
  background-color: rgb(77, 0, 19.25);
  color: #F5F5DC;
  text-decoration: none;
}
.c-nav__search {
  background-color: #2F4F4F;
  border: none;
  color: #F5F5DC;
}
.c-nav__search::-moz-placeholder {
  color: #F5F5DC;
}
.c-nav__search::placeholder {
  color: #F5F5DC;
}
.c-nav__search:focus {
  background-color: #800020;
  color: #F5F5DC;
  outline: none;
  box-shadow: 0 0 5px rgb(230, 0, 57.5);
}

.c-hero {
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  padding: 4rem 2rem;
  text-align: center;
}
.c-hero__title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.c-hero__subtitle {
  font-size: 1.25rem;
  color: #6c757d;
}
.c-hero__btn {
  margin-top: 2rem;
  background-color: #282727;
  color: #fff;
  padding: 0.5rem 1rem;
}
.c-hero__btn:hover {
  background-color: #1c1b1b;
  color: #fff;
  text-decoration: none;
}

.c-btn--primary {
  background-color: #007bff;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  text-decoration: none;
  font-size: 1rem;
}
.c-btn--primary:hover {
  background-color: #0056b3;
  color: #fff;
  text-decoration: none;
}

.c-dropdown__btn {
  color: #F5F5DC;
  border: none;
  padding: 0.5rem 1rem;
}
.c-dropdown__btn:hover {
  color: #F5F5DC;
  background-color: rgb(77, 0, 19.25);
}
.c-dropdown__menu {
  background-color: rgb(51.5, 0, 12.875);
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.c-dropdown__header {
  font-weight: bold;
  color: #F5F5DC;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.c-dropdown__info {
  width: 100%;
  padding: 0.5rem;
  background-color: rgb(77, 0, 19.25);
  border: none;
  color: #F5F5DC;
}
.c-dropdown__info::-moz-placeholder {
  color: #F5F5DC;
}
.c-dropdown__info::placeholder {
  color: #F5F5DC;
}
.c-dropdown__info:focus {
  background-color: #800020;
  color: #F5F5DC;
  outline: none;
  box-shadow: 0 0 5px rgb(230, 0, 57.5);
}
.c-dropdown__icon {
  font-size: 1.5rem;
}
.c-dropdown__item {
  color: #F5F5DC;
}
.c-dropdown__item:hover {
  background-color: rgb(77, 0, 19.25);
  color: #F5F5DC;
}

.c-cta {
  background-color: #12124d;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
}
.c-cta__title {
  color: #D4AF37;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.c-cta__text {
  color: #F5F5DC;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}
.c-cta__actions {
  margin-bottom: 2rem;
}
.c-cta__actions .c-cta__btn {
  margin: 0 0.5rem;
}
.c-cta__verse {
  color: #800020;
  font-style: italic;
  font-size: 1rem;
}
.c-cta__btn {
  background-color: #800020;
  color: #F5F5DC;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
}
.c-cta__btn:hover {
  background-color: rgb(77, 0, 19.25);
  color: #F5F5DC;
  text-decoration: none;
}

.c-impact {
  background-color: #2F4F4F;
}
.c-impact__title {
  color: #D4AF37;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  font-weight: bold;
}
.c-impact__intro {
  color: #F5F5DC;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}
.c-impact__quote {
  color: #F5F5DC;
  font-style: italic;
  margin-bottom: 1rem;
}
.c-impact__cite {
  color: #282727;
  font-weight: bold;
}
.c-impact__card {
  background-color: rgb(102.5, 0, 25.625);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.c-card {
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.c-card__title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #F5F5DC;
  font-weight: bold;
}
.c-card__text {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #282727;
}

.c-footer {
  background-color: #2F4F4F;
  color: #F5F5DC;
  padding: 2rem 0;
  margin-top: 3rem;
}
.c-footer__text {
  margin: 0;
  font-size: 0.9rem;
}
.c-footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.c-footer__links li a {
  color: #D4AF37;
  text-decoration: none;
}
.c-footer__links li a:hover {
  color: #800020;
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
.u-hidden {
  display: none !important;
}