    <footer class="c-footer c-footer--placeholder">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <img class="c-footer__logo" src="/assets/uploads/FaithGuard_Secondary_Logo.svg" alt="Secondary Logo">
                    <p class="c-footer__text">&copy; 2025 FaithGuard. All rights reserved. Overcoming addiction through Christ &amp; Protecting your digital faith with hope and redemption.</p>
                </div>
                <div class="col-md-6 col-12 text-md-end">
                    <ul class="footer-nav">
                        <li class="c-footer__item">
                            <a class="c-footer__links" href="/index.php">Home</a>
                        </li>
                        <li class="c-footer__item">
                            <a class="c-footer__links" href="/resources.html">Resources</a>
                        </li>
                        <li class="c-footer__item">
                            <a class="c-footer__links" href="/about.html">About</a>
                        </li>
                        <li class="c-footer__item">
                            <a class="c-footer__links" href="/contact.php">Contact</a>
                        </li> <!-- Will be added once I upload it to a webhost -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>