    <nav class="navbar navbar-expand-lg navbar-dark c-nav">
        <div class="container-fluid">
            <a class="navbar-brand c-nav__brand" href="index.html">
                <img src="/assets/upload/FaithGuard_Primary_Logo.svg" alt="FaithGuard Logo" class="d-inline-block align-text-top c-nav__logo">
            </a>
            <!-- Login Dropdown -->
            <div class="d-flex me-3 dropdown c-dropdown order-lg-3">
                <button class="btn c-btn c-dropdown__btn js-dropdown-btn dropdown-toggle" type="button" id="loginDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="c-dropdown__icon bi bi-person-circle"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end c-dropdown__menu js-dropdown-menu" aria-labelledby="loginDropdown">
                    <li>
                        <h6 class="dropdown-header c-dropdown__header">Sign Up / Log In</h6>
                    </li>
                    <li>
                        <input type="text" id="signupUsername" class="form-control c-dropdown__info mb-2" placeholder="Username">
                    </li>
                    <li>
                        <input type="password" id="signupPassword" class="form-control c-dropdown__info mb-2" placeholder="Password">
                    </li>
                    <li>
                        <button class="btn c-btn c-dropdown__btn js-log btn-sm mb-2">Sign Up / Log In</button>
                    </li> <!-- Sign Up/Log In button functionality to be implemented in php -->
                </ul>
            </div>
            <!-- Navbar Toggler and Links -->
            <button class="navbar-toggler c-nav__toggler bi bi-list order-lg-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            </button>
            <!-- Collapsable navbar content -->
            <div class="collapse navbar-collapse order-lg-1" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item c-nav__item">
                        <a class="nav-link c-nav__link" href="resources.html">Resources</a>
                    </li>
                    <li class="nav-item c-nav__item">
                        <a class="nav-link c-nav__link" href="about.html">About</a>
                    </li>
                </ul>
                <!-- Search Form -->
                <form class="d-flex mt-3 mt-lg-0">
                    <input class="form-control js-search-form c-nav__search me-2" type="search" placeholder="Search resources..." aria-label="Search">
                    <button class="btn c-btn js-search-btn c-nav__btn" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>